html{
    font-size : 16px;
}
body {
    margin : 0;
    font-family: 'Ubuntu', sans-serif;
}

img{
    display : block;
    width : 100%;
}


/* used in about-me page */
.image-full{
    max-height : 300px;
    width : 100%;
    object-fit : cover;
    margin-bottom : 1em;
}

/* *******************
    Typography
    ****************** */

h1,
h2,
h3{
    font-family: 'Lora', serif;
    font-weight : 400;
    font-size : 1.7rem;
    color : #143774;
    margin : 0;
    /* border : 1px dashed green; */
}

h2{
    font-size : 1.5rem;
}

h3{
    font-size : 1.125rem;
}

.subtitle{
    font-weight : 700;
    font-size: .75rem;
    color : #1792D2;
    margin : 0;
    /* letter-spacing: .05em; */
    text-transform: uppercase;
    /* border : 1px dashed green; */
}

.article-body{
    font-size : 1rem;
    font-weight : 400;
    color : #707070;
}

main a{
    font-weight : 700;
    color : #1792d2;
    text-decoration : none;
}

main a:hover,
main a:focus{
    color : #143774;
    text-decoration : underline;
}

strong{
    font-weight : 700;
}

.article-read-more{
    font-size : .875rem;
    text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus{
    color : #143774;
    text-decoration : underline;
}

.article-info{
    font-weight : 400;
    font-size : .75rem;
    color : #707070;
}

article{
    margin-bottom : 1.5rem;
}

.sidebar-widget{
    border : 10px solid #EBEBEB;
    padding : 1em;
    margin-bottom : 2em;
}

.widget-title{
    text-transform: uppercase;
    font-size : 1.125rem;
    font-weight : 700;
}

footer {
    text-align : center;
    padding : 3em;
    color : #ffffff;
    background-color : #143774;
    font-size : .875rem;
    margin-top : 5em;
}

.widget-body{
    color : #143774;
    font-size : .875rem;
}

.footer-title{
    font-weight : 700;
    opacity : 54%;
    margin : 1em;
}
.footer-subtitle{
    font-weight :400;
    opacity : 30%;
    margin : 0;
}

.about-me-subtitle{
    font-size: 1.25rem;
    color : #1792d2;
}


/* ******************
    Layout
    **************** */

.container {
    width : 90%;
    max-width : 900px;
    margin : 0 auto;
}
.container-flex{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color : #f8f8f8;
    padding : 3em 0;
    text-align: center;
    margin-bottom : 2em;
}



.article-featured{
    display : flex;
    flex-direction: column;
    padding-bottom : 1.5rem;
    border-bottom : 1px solid #707070;
}

.article-image{
    order : -2;
}

.article-info{
    order: -1;
}

.article-recent{
    display : flex;
    flex-direction: column;
}

.article-recent-secondary{
    order : -1;
}

.widget-recent-post{
    display : flex;
    flex-direction: column;
    border-bottom : 1px solid #707070;
    padding-bottom : 1em;
}

.widget-recent-post:last-child{
    border : none;
    padding-bottom : 0;
}

.widget-recent-post-image,
.widget-image{
    order : -1;
    margin: 1em 0;
}

.widget-image{
    width : 100%;
    height : 250px;
    object-fit : cover;
}


@media (min-width : 675px){

    .container-flex{
        flex-direction : row;
    }
    main{
        width : 70%;
    }
    aside{
        width : 25%;
    }
    .article-recent{
        flex-direction : row;
        justify-content: space-between;
    }
    .article-recent-secondary {
        width : 28%;
    }
    .article-recent-main{
        width : 70%;
    }
    .article-image{
        width : 100%;
        min-height : 250px;
        object-fit : cover;
    }
    .widget-image{
        height : auto;
    }
}

/* navigation */

nav ul{
    list-style: none;
    display : flex;
    justify-content: center;
    padding : 0;  
}

nav li {
    margin-left : 2em;
}

nav a{
    text-transform: uppercase;
    color : #707070;
    text-decoration: none;
    font-weight : 700;
    padding : .25em 0;
}

nav a:hover,
nav a:focus{
    color : #1792d2;
}

.current-page{
    border-bottom : 2px solid #707070;
}

.current-page:hover,
.current-page:focus{
    color : #707070;
}



@media (max-width : 675px){

    nav ul{
        flex-direction : column;
    }
    nav li{
        margin : .75em 0;
    }

}


